* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fw-700 {
    font-weight: 700;
    letter-spacing: 0.225rem;
}

.social-links {
    list-style: none;
}

.carousel-caption {
    bottom: 30%;
}

@media only screen and (min-width: 992px) {
    .coming-soon {
        width: 15%;
    }

    .brand-logo {
        width: 25%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .coming-soon {
        width: 25%;
    }

    .brand-logo {
        width: 45%;
    }

    .carousel-caption h2 {
        font-size: calc(1.325rem + .55vw);
    }
}

@media only screen and (max-width: 767px) {
    .coming-soon {
        width: 35%;
        left: 19% !important;
    }

    .brand-logo {
        width: 65%;
    }

    #image1, #image2 #image3 {
        height: 95vh;
    }

    .carousel-caption h2 {
        font-size: calc(1.2rem + .5vw) !important;
    }
}

@media only screen and (max-width: 375px) {
    .carousel-caption {
        bottom: 22%;
    }

    .carousel-caption h2 {
        font-size: calc(1.2rem + .5vw) !important;
    }
}