* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fw-700 {
    font-weight: 700;
    letter-spacing: 0.225rem;
}

.social-links {
    list-style: none;
}

/* .brand-logo {
    width: calc(100% - 48rem);
} */

.carousel-caption {
    bottom: 8.25rem !important;
}

/* .coming-soon {
    width: calc(100% - 75rem);
}

@media(min-width: 1440px) {
    .coming-soon {
        width: calc(100% - 110rem);
    }

    .brand-logo {
        width: calc(100% - 80rem);
    }
} */