* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fw-700 {
    font-weight: 700;
    letter-spacing: 0.225rem;
}

.social-links {
    list-style: none;
}

.carousel-caption {
    bottom: 30%;
}

@media only screen and (min-width: 1200px) {
    .coming-soon {
        width: 25%;
    }
}

/* @media only screen and (min-width: 1400px) {
    .coming-soon {
        width: calc(100% - 105rem);
    }

    .brand-logo {
        width: calc(100 - 70rem);
    }

    .carousel-caption {
        bottom: 50% !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .coming-soon {
        width: calc(100% - 75rem);
    }

    .brand-logo {
        width: calc(100% - 42rem);
    }

    .carousel-caption {
        bottom: 50% !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .coming-soon {
        width: calc(100% - 54rem);
    }

    .brand-logo {
        width: calc(100% - 30rem);
    }
} */